In [60]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [61]:
# Basic Analysis of the raw dataset

pandemic_df = pd.read_csv('dataset/raw_data.csv')
pandemic_df.head(10)

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
5,AFG,Afghanistan,2020-01-05,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
6,AFG,Afghanistan,2020-01-06,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
7,AFG,Afghanistan,2020-01-07,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
8,AFG,Afghanistan,2020-01-08,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494
9,AFG,Afghanistan,2020-01-09,0.0,0.0,0.0,38928341,1803.987,0.498,#NUM!,#NUM!,#NUM!,17.477233,7.497754494

In [62]:
# drop the last 5 columns of the dataset as they show some computed value which is not required for analysis
pandemic_df.drop(columns = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis = 1, inplace = True)
pandemic_df

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,AFG,Afghanistan,2019-12-31,0.0,0.0,0.00,38928341,1803.987,0.498
1,AFG,Afghanistan,2020-01-01,0.0,0.0,0.00,38928341,1803.987,0.498
2,AFG,Afghanistan,2020-01-02,0.0,0.0,0.00,38928341,1803.987,0.498
3,AFG,Afghanistan,2020-01-03,0.0,0.0,0.00,38928341,1803.987,0.498
4,AFG,Afghanistan,2020-01-04,0.0,0.0,0.00,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50413,ZWE,Zimbabwe,2020-10-15,8055.0,231.0,76.85,14862927,1899.775,0.535
50414,ZWE,Zimbabwe,2020-10-16,8075.0,231.0,76.85,14862927,1899.775,0.535
50415,ZWE,Zimbabwe,2020-10-17,8099.0,231.0,76.85,14862927,1899.775,0.535
50416,ZWE,Zimbabwe,2020-10-18,8110.0,231.0,76.85,14862927,1899.775,0.535
50417,ZWE,Zimbabwe,2020-10-19,8147.0,231.0,76.85,14862927,1899.775,0.535

In [67]:
# checking if there is a null value in any of the rows of the dataset
pandemic_df.isnull().values.any()

# finding the number of null values in each column
pandemic_df.isnull().sum()

# print the rows which has null values
pandemic_df[pandemic_df.isna().any(axis=1)]

,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
280,AFG,Afghanistan,2020-10-06,39486.0,1467.0,NaN,38928341,1803.987,0.498
281,AFG,Afghanistan,2020-10-07,39548.0,1469.0,NaN,38928341,1803.987,0.498
282,AFG,Afghanistan,2020-10-08,39616.0,1470.0,NaN,38928341,1803.987,0.498
283,AFG,Afghanistan,2020-10-09,39693.0,1472.0,NaN,38928341,1803.987,0.498
284,AFG,Afghanistan,2020-10-10,39703.0,1473.0,NaN,38928341,1803.987,0.498
...,...,...,...,...,...,...,...,...,...
50203,ZMB,Zambia,2020-10-18,15789.0,346.0,NaN,18383956,3689.251,0.588
50204,ZMB,Zambia,2020-10-19,15853.0,346.0,NaN,18383956,3689.251,0.588
50205,ZWE,Zimbabwe,2020-03-21,1.0,NaN,27.78,14862927,1899.775,0.535
50206,ZWE,Zimbabwe,2020-03-22,2.0,NaN,27.78,14862927,1899.775,0.535
50207,ZWE,Zimbabwe,2020-03-23,2.0,NaN,45.37,14862927,1899.775,0.535

In [64]:

# number of rows and columns in the raw dataset
pandemic_df.shape

# column names of dataset
pandemic_df.columns

# column names and datatypes of each col in the dataset
pandemic_df.dtypes

iso_code                    object
location                    object
date                        object
total_cases                float64
total_deaths               float64
stringency_index           float64
population                   int64
gdp_per_capita             float64
human_development_index    float64
dtype: object

In [65]:
# convert the 'Date' column to datetime format
pandemic_df['date'] = pd.to_datetime(pandemic_df['date'])
pandemic_df.dtypes

iso_code                           object
location                           object
date                       datetime64[ns]
total_cases                       float64
total_deaths                      float64
stringency_index                  float64
population                          int64
gdp_per_capita                    float64
human_development_index           float64
dtype: object

In [68]:
pandemic_df.set_index(['iso_code', 'date'], inplace=True)
pandemic_df

                        location  total_cases  total_deaths  stringency_index  \
iso_code date
AFG      2019-12-31  Afghanistan          0.0           0.0              0.00
         2020-01-01  Afghanistan          0.0           0.0              0.00
         2020-01-02  Afghanistan          0.0           0.0              0.00
         2020-01-03  Afghanistan          0.0           0.0              0.00
         2020-01-04  Afghanistan          0.0           0.0              0.00
...                          ...          ...           ...               ...
ZWE      2020-10-15     Zimbabwe       8055.0         231.0             76.85
         2020-10-16     Zimbabwe       8075.0         231.0             76.85
         2020-10-17     Zimbabwe       8099.0         231.0             76.85
         2020-10-18     Zimbabwe       8110.0         231.0             76.85
         2020-10-19     Zimbabwe       8147.0         231.0             76.85

                     population  gdp_per_capita  human_development_index
iso_code date
AFG      2019-12-31    38928341        1803.987                    0.498
         2020-01-01    38928341        1803.987                    0.498
         2020-01-02    38928341        1803.987                    0.498
         2020-01-03    38928341        1803.987                    0.498
         2020-01-04    38928341        1803.987                    0.498
...                         ...             ...                      ...
ZWE      2020-10-15    14862927        1899.775                    0.535
         2020-10-16    14862927        1899.775                    0.535
         2020-10-17    14862927        1899.775                    0.535
         2020-10-18    14862927        1899.775                    0.535
         2020-10-19    14862927        1899.775                    0.535

[50418 rows x 7 columns]

In [70]:
df_inter = pandemic_df.interpolate()
df_inter

                        location  total_cases  total_deaths  stringency_index  \
iso_code date
AFG      2019-12-31  Afghanistan          0.0           0.0              0.00
         2020-01-01  Afghanistan          0.0           0.0              0.00
         2020-01-02  Afghanistan          0.0           0.0              0.00
         2020-01-03  Afghanistan          0.0           0.0              0.00
         2020-01-04  Afghanistan          0.0           0.0              0.00
...                          ...          ...           ...               ...
ZWE      2020-10-15     Zimbabwe       8055.0         231.0             76.85
         2020-10-16     Zimbabwe       8075.0         231.0             76.85
         2020-10-17     Zimbabwe       8099.0         231.0             76.85
         2020-10-18     Zimbabwe       8110.0         231.0             76.85
         2020-10-19     Zimbabwe       8147.0         231.0             76.85

                     population  gdp_per_capita  human_development_index
iso_code date
AFG      2019-12-31    38928341        1803.987                    0.498
         2020-01-01    38928341        1803.987                    0.498
         2020-01-02    38928341        1803.987                    0.498
         2020-01-03    38928341        1803.987                    0.498
         2020-01-04    38928341        1803.987                    0.498
...                         ...             ...                      ...
ZWE      2020-10-15    14862927        1899.775                    0.535
         2020-10-16    14862927        1899.775                    0.535
         2020-10-17    14862927        1899.775                    0.535
         2020-10-18    14862927        1899.775                    0.535
         2020-10-19    14862927        1899.775                    0.535

[50418 rows x 7 columns]

In [72]:
# drop the rows with null values in 'total_cases', 'total_deaths' and 'stringency_index' columns 
# and store the output into a new dataset

df_final = df_inter.drop_duplicates(subset=['total_cases', 'total_deaths', 'stringency_index'], keep='first')
df_final

                        location  total_cases  total_deaths  stringency_index  \
iso_code date
AFG      2019-12-31  Afghanistan          0.0           0.0              0.00
         2020-02-23  Afghanistan          0.0           0.0              8.33
         2020-02-25  Afghanistan          1.0           0.0              8.33
         2020-03-01  Afghanistan          1.0           0.0             27.78
         2020-03-03  Afghanistan          0.0           0.0             27.78
...                          ...          ...           ...               ...
ZWE      2020-10-15     Zimbabwe       8055.0         231.0             76.85
         2020-10-16     Zimbabwe       8075.0         231.0             76.85
         2020-10-17     Zimbabwe       8099.0         231.0             76.85
         2020-10-18     Zimbabwe       8110.0         231.0             76.85
         2020-10-19     Zimbabwe       8147.0         231.0             76.85

                     population  gdp_per_capita  human_development_index
iso_code date
AFG      2019-12-31    38928341        1803.987                    0.498
         2020-02-23    38928341        1803.987                    0.498
         2020-02-25    38928341        1803.987                    0.498
         2020-03-01    38928341        1803.987                    0.498
         2020-03-03    38928341        1803.987                    0.498
...                         ...             ...                      ...
ZWE      2020-10-15    14862927        1899.775                    0.535
         2020-10-16    14862927        1899.775                    0.535
         2020-10-17    14862927        1899.775                    0.535
         2020-10-18    14862927        1899.775                    0.535
         2020-10-19    14862927        1899.775                    0.535

[43814 rows x 7 columns]

In [73]:
# check for null values in the new dataset df_final

df_final.isnull().sum()

location                   0
total_cases                0
total_deaths               0
stringency_index           0
population                 0
gdp_per_capita             0
human_development_index    0
dtype: int64

In [74]:
# the df_final dataset holds the desired data which can be used for further analysis

df_final.to_csv('scrubbed_pandemic_data.csv')