In [53]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime as dt

In [54]:
pandemic_data = pd.read_csv('dataset/transformed_pandemic_data.csv')
pandemic_data.head(10)

,Unnamed: 0,iso_code,location,date,total_cases,total_deaths,stringency_index,population,gdp_per_capita,human_development_index
0,0,AFG,Afghanistan,2019-12-31,0,0,0.0,38928341,1803.987,0.498
1,1,AFG,Afghanistan,2020-01-01,0,0,0.0,38928341,1803.987,0.498
2,2,AFG,Afghanistan,2020-01-02,0,0,0.0,38928341,1803.987,0.498
3,3,AFG,Afghanistan,2020-01-03,0,0,0.0,38928341,1803.987,0.498
4,4,AFG,Afghanistan,2020-01-04,0,0,0.0,38928341,1803.987,0.498
5,5,AFG,Afghanistan,2020-01-05,0,0,0.0,38928341,1803.987,0.498
6,6,AFG,Afghanistan,2020-01-06,0,0,0.0,38928341,1803.987,0.498
7,7,AFG,Afghanistan,2020-01-07,0,0,0.0,38928341,1803.987,0.498
8,8,AFG,Afghanistan,2020-01-08,0,0,0.0,38928341,1803.987,0.498
9,9,AFG,Afghanistan,2020-01-09,0,0,0.0,38928341,1803.987,0.498

In [55]:
pandemic_data.shape

(50418, 10)

In [56]:
# Rename columns
pandemic_data = pandemic_data.rename(columns = {'location':'loc', 'stringency_index': 'SI', 'population': 'pop', 'gdp_per_capita':'GDP', 'human_development_index': 'HDI'})
pandemic_data.columns

Index(['Unnamed: 0', 'iso_code', 'loc', 'date', 'total_cases', 'total_deaths',
       'SI', 'pop', 'GDP', 'HDI'],
      dtype='object')

In [121]:
# Filter out India's data

india_pandemic_data = pandemic_data.loc[pandemic_data['loc'] == 'Brazil']
india_pandemic_data

,Unnamed: 0,iso_code,loc,date,total_cases,total_deaths,SI,pop,GDP,HDI
6571,6571,BRA,Brazil,2019-12-31,0,0,0.00,212559409,14103.452,0.759
6572,6572,BRA,Brazil,2020-01-01,0,0,0.00,212559409,14103.452,0.759
6573,6573,BRA,Brazil,2020-01-02,0,0,0.00,212559409,14103.452,0.759
6574,6574,BRA,Brazil,2020-01-03,0,0,0.00,212559409,14103.452,0.759
6575,6575,BRA,Brazil,2020-01-04,0,0,0.00,212559409,14103.452,0.759
...,...,...,...,...,...,...,...,...,...,...
6860,6860,BRA,Brazil,2020-10-15,5140863,151747,72.22,212559409,14103.452,0.759
6861,6861,BRA,Brazil,2020-10-16,5169386,152460,72.22,212559409,14103.452,0.759
6862,6862,BRA,Brazil,2020-10-17,5200300,153214,72.22,212559409,14103.452,0.759
6863,6863,BRA,Brazil,2020-10-18,5224362,153675,72.22,212559409,14103.452,0.759
6864,6864,BRA,Brazil,2020-10-19,5235344,153905,72.22,212559409,14103.452,0.759

In [122]:
# convert the 'Date' column to datetime format
india_pandemic_data['date'] = pd.to_datetime(india_pandemic_data['date'])
india_pandemic_data.dtypes

<ipython-input-122-7965c5068eef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india_pandemic_data['date'] = pd.to_datetime(india_pandemic_data['date'])

Unnamed: 0               int64
iso_code                object
loc                     object
date            datetime64[ns]
total_cases              int64
total_deaths             int64
SI                     float64
pop                      int64
GDP                    float64
HDI                    float64
dtype: object

In [123]:
india_pandemic_data.dtypes

Unnamed: 0               int64
iso_code                object
loc                     object
date            datetime64[ns]
total_cases              int64
total_deaths             int64
SI                     float64
pop                      int64
GDP                    float64
HDI                    float64
dtype: object

In [124]:
# mapping date to ordinal

india_pandemic_data['date'] = india_pandemic_data['date'].map(dt.datetime.toordinal)
india_pandemic_data

<ipython-input-124-d287966e598c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india_pandemic_data['date'] = india_pandemic_data['date'].map(dt.datetime.toordinal)

,Unnamed: 0,iso_code,loc,date,total_cases,total_deaths,SI,pop,GDP,HDI
6571,6571,BRA,Brazil,737424,0,0,0.00,212559409,14103.452,0.759
6572,6572,BRA,Brazil,737425,0,0,0.00,212559409,14103.452,0.759
6573,6573,BRA,Brazil,737426,0,0,0.00,212559409,14103.452,0.759
6574,6574,BRA,Brazil,737427,0,0,0.00,212559409,14103.452,0.759
6575,6575,BRA,Brazil,737428,0,0,0.00,212559409,14103.452,0.759
...,...,...,...,...,...,...,...,...,...,...
6860,6860,BRA,Brazil,737713,5140863,151747,72.22,212559409,14103.452,0.759
6861,6861,BRA,Brazil,737714,5169386,152460,72.22,212559409,14103.452,0.759
6862,6862,BRA,Brazil,737715,5200300,153214,72.22,212559409,14103.452,0.759
6863,6863,BRA,Brazil,737716,5224362,153675,72.22,212559409,14103.452,0.759
6864,6864,BRA,Brazil,737717,5235344,153905,72.22,212559409,14103.452,0.759

In [131]:
###### from sklearn.model_selection import train_test_split

X = india_pandemic_data['date']
Y = india_pandemic_data.iloc[:, -6:-4]
# Y = india_pandemic_data['GDP']

print(X)
print(Y)

6571    737424
6572    737425
6573    737426
6574    737427
6575    737428
         ...
6860    737713
6861    737714
6862    737715
6863    737716
6864    737717
Name: date, Length: 294, dtype: int64
      total_cases  total_deaths
6571            0             0
6572            0             0
6573            0             0
6574            0             0
6575            0             0
...           ...           ...
6860      5140863        151747
6861      5169386        152460
6862      5200300        153214
6863      5224362        153675
6864      5235344        153905

[294 rows x 2 columns]

In [126]:
from sklearn.linear_model import LinearRegression

regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [127]:
regressor.coef_

array([[20714.46209538]])

In [128]:
y_pred= regressor.predict(x_test) 
y_pred

array([[ 2870420.76475143],
       [ 2787562.91637039],
       [ -671752.25355721],
       [ 3160423.23408699],
       [-1148184.88175201],
       [ 3346853.39294624],
       [ 2207557.97769928],
       [ 2518274.9091301 ],
       [ -381749.78422165],
       [  -91747.314888  ],
       [-1293186.11641884],
       [-1355329.50270462],
       [ 4361862.03561974],
       [ 1068262.56245422],
       [ 1275407.18340683],
       [ 3844000.48323441],
       [  239684.07863808],
       [ 1378979.49388504],
       [  964690.25197792],
       [ 1648267.50112534],
       [  840403.47940445],
       [ 2683990.60589409],
       [  -71032.85279083],
       [ 2746133.99217987],
       [ 2808277.37846565],
       [ 4279004.18723679],
       [  488257.62378311],
       [-1438187.35108566],
       [ 3471140.16551781],
       [ 4113288.4904747 ],
       [  695402.24473763],
       [ 1565409.65274239],
       [ 3864714.94532967],
       [ 2041842.28093719],
       [-1500330.73737335],
       [  529686.54797363],
       [   73968.38187599],
       [ 2849706.30265617],
       [ 3574712.47599411],
       [ 2663276.14379883],
       [  591829.93425941],
       [ 3616141.40018463],
       [-1458901.81318283],
       [ 1006119.17616844],
       [ 1213263.79712105],
       [ 1876126.5841732 ],
       [ 3098279.84780121],
       [ -298891.93584061],
       [ 3512569.08970833],
       [ 4465434.34609604],
       [ 1855412.12207794],
       [ 1668981.9632206 ],
       [ 3222566.62037277],
       [  260398.54073524],
       [ -464607.6326046 ],
       [ 4341147.57352257],
       [ 4175431.87676048],
       [ 2290415.82608032],
       [ 3056850.92361069],
       [ 1192549.33502579],
       [ -278177.47374535],
       [-1189613.80594254],
       [ -651037.79146194],
       [ 1503266.2664566 ],
       [ 2932564.15103722],
       [ 1938269.97045898],
       [-1044612.5712738 ],
       [ 2021127.81884193],
       [ 4382576.497715  ],
       [ -837467.9503212 ],
       [ 4154717.41466522],
       [ 1627553.03903008],
       [  405399.77540207],
       [ 2953278.61313248],
       [ 1586124.11483765],
       [ 2414702.59865379],
       [ 3118994.30989647],
       [ 3139708.77199173],
       [  -29603.92860031],
       [ 1233978.25921631],
       [ 2497560.44703484],
       [  301827.46492577],
       [ -692466.71565247],
       [ 3243281.08246803],
       [ 1420408.41807556],
       [ 2828991.84056091],
       [ 3015421.99942017],
       [ -485322.09469986],
       [ 3367567.8550415 ]])

In [129]:
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.6708584394073005
Test Score:  0.6481171421607734

In [130]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_pred)

1645910748601.358

# Feature Selection

In [112]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import mutual_info_regression

# Feature Selection using correlation

In [113]:
# feature selection
f_selector = SelectKBest(score_func=f_regression, k='all')

In [114]:
# learn relationship from training data
f_selector.fit(x_train, y_train)

/Users/aninditasom/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SelectKBest(k='all', score_func=<function f_regression at 0x1215b0ca0>)

In [100]:
# transform train input data
x_train_fs = f_selector.transform(x_train)
# transform test input data
x_test_fs = f_selector.transform(x_test)

In [101]:
# Plot the scores for the features
plt.bar([i for i in range(len(f_selector.scores_))], f_selector.scores_)
plt.xlabel("feature index")
plt.ylabel("F-value (transformed from the correlation values)")
plt.show()

AttributeError: module 'matplotlib' has no attribute 'bar'